html {
    height: 100%;
    background-image: url(../images/αρχείο\ λήψης\ \(3\).jpg);
    background-position: center center; /* center the image */
    background-size: cover;             /* scale to cover the entire viewport */
    background-repeat: no-repeat;       /* prevent repeating */
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    color: white;
}

header {
    width: 100%;
    position: relative;
    background: transparent;
    top: 0;
}


/* ========== HERO SECTION ========== */

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px 60px;
    color: white;
    text-align: center;
    align-items: center;
    background: none;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    width: 100%;
    padding: 250px 20px 0 20px; /* add top padding */
    box-sizing: border-box;
    text-align: center;
    overflow-wrap: break-word;
}

.hero h1 {
    font-size: clamp(40px, 8vw, 80px); 
    font-weight: bold;
    color: white;
    margin: 0;
}

.hero p {
    font-size: clamp(18px, 3vw, 26px); 
    color: white;
    margin: 0;
}

.hero a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-btn {
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    transition:all 0.3s ease;
}

.hero-btn:hover{
    background-color: white;
    color: black;
}

@media (max-height: 700px){
    .hero {
        height: 80vh;
    }
}

/* ========== END HERO SECTION ========== */