/* ============= RESET =============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: #333333;
  --accent-color: #111;
  --hover-color: #000;
  --bg-color: #f5f5f5;
  --font: "Arial", "Helvetica", sans-serif;
}

/* ============= NAVBAR STYLES ===============  */

header {
    width: 100%;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

/* ================ LOGO  ================ */

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: none;
    font-family: var(--font);
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar .nav-links a {
    color: white;
}

.nav-links li a {
    text-decoration: none;
    color: plum;
    font-family: var(--font);
    font-size: 18px;
    transition: color 0.3s ease;
    position: relative;
    padding-bottom: 2px;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: var(--accent-color);
    transition: 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
    background: plum;
}

.nav-links li a:hover {
    color: plum;
}   

.navbar .nav-links a:hover::after {
    background-color: white;
}

/* ============= RESPONSIVE NAVBAR ===============  */

@media (max-width: 768px) {
    .nav-links {
        gap: 15px;
    }

    header {
        padding: 12px 20px;
    }
}

/* ========== LOGO RIGHT SIDE ========== */
.nav-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    cursor: pointer;
    transition: 0.3s;
}

.nav-logo img:hover {
    border-color: var(--hover-color);
}

/* ========== RESPONSIVE ========== */

@media (max-width: 600px) {
    .nav-links {
        gap: 15px;
    }

    .nav-logo img {
        width: 50px;
        height: 50px;
    }

    header {
        padding: 12px 20px;
    }
}

/* ============= END OF NAVBAR STYLES ===============  */