html {
    height: 100%;
    background-image: url(../images/αρχείο\ λήψης\ \(3\).jpg);
    background-position: center center; /* center the image */
    background-size: cover;             /* scale to cover the entire viewport */
    background-repeat: no-repeat;       /* prevent repeating */
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ========== PAGE LAYOUT ========== */

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
    
}

/* ========== EACH COLUMN ========== */

.column {
    width: 45%;
}

/* ========== TITLES ========== */

.column h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

/* ========== RECOMMENDATION BOX ========== */

.rec-box {
    background-color: rgba(255, 255, 255, 0.12); 
    backdrop-filter: blur(6px);
    border-radius: 15px;
    padding: 15px 20px;
    margin-bottom: 15px;
    font-size: 18px;
    color: white;   
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

/* ========== HOVER ========== */

.rec-box:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-3px);
}

/* ========== FOR MOBILE ==========  */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 90%;
        margin-bottom: 30px;
    }
}